
<center><h1>Bienvenue <%=current_user.first_name%> <%=current_user.last_name%> sur votre profil</h1></center>
<br><br><hr><br><br>
<h3 style="margin-left: 200px;">Votre email : <%=current_user.email%></h3>
<p><strong>Avatar</strong></p>
 
<br><br><hr><br><br>
<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>